/* TODO */

/* Reset CSS */
/* Universal selector (*) targets every element (regardless tag, class, ID) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

/* Change all hyperlinks */
a {
  text-decoration: none;
  color: inherit;
}

/* Set the HTML body to divided into 2 columns of 60% and 40% */
.container {
  display: grid;
  grid-template-columns: [full-start] 0.6fr [center-end center-start] 0.4fr [full-end]; /* start to center to end */
  grid-template-rows: repeat(6, min-content);
}

/* TODO */

/** Start of Desktop Section **/
/** ************************ **/

/* * Navigation section */
/* Set up navbar for desktop */
nav {
  display: flex;
  grid-column: full-start / full-end; /* IMPORTANT: navbar uses 1fr of the screen */
  justify-content: space-between;
  height: 4rem;
}

/* Set up navigation links styles */
nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

nav ul li:last-child {
  padding-right: 1.5rem;
}

nav > a {
  display: flex;
  align-items: center;
}

/* Set up logo styles */
.logo {
  height: 3rem;
  margin-left: 1.5rem;
}

.logoname {
  text-transform: uppercase;
}

.logoname-bold {
  font-weight: bold;
  color: #484848;
}

.logoname-light {
  font-weight: lighter;
  color: #aaa;
}
/* * End of Navigation section */

/* * Header section */
header {
  display: flex;
  align-items: center; /* align-items centers vertically */
  justify-content: center; /* justify-content centers horizontally */
  background-color: #d8d8d8;
}

/* Change large images on left */
.imgcontainer {
  padding: 2rem 1.5rem 2rem 1.5rem;
}

/* Change header image */
header > img {
  max-width: 100%;
  height: auto;
}

/* Change right header */
header > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 18rem;
  padding: 0 1.5rem;
}

header > div > h1 {
  font-size: xx-large;
}

header > div > h2 {
  font-size: x-large;
}

header > div > a {
  background-color: #484848;
  display: block;
  width: 100%;
  padding: 0.5rem 0; /* tb=8px lr=0 */
  text-align: center;
  color: #fff;
}

/* Hover effect for call to action link */
header > div > a:hover {
  color: red;
  background-color: white;
  transition: all 0.1s ease-out;
}
/* * End of Header section */

/* * Practice section */
/* Left section */
.practice {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.practice > .imgcontainer > img {
  max-width: 100%;
  height: auto;
}

/* Change practice text */
.practice > .practice-text {
  padding: 0 1.5rem;
}

.practice > .practice-text > h1 {
  font-size: xx-large;
  margin: 2rem 0 1.5rem 0;
}

.practice > .practice-text > p {
  font-size: small;
  font-weight: lighter;
}

.practice > .practice-text > p > span {
  display: block;
  padding: 2rem 0;
}

/* Right section */
.events {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  border-left: 1px solid #e7e7e7;
}

.events .event-block {
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  align-items: center;
}

.events > .event-block > img {
  max-width: 100%;
  height: auto;
  margin: 1rem;
}

.events > .event-block:first-child > img {
  margin-top: 2rem;
}

.events > .event-block:last-child {
  background-color: #d8d8d8;
}

.events > .event-block > div > h3 {
  font-size: medium;
}

.events > .event-block > .event-text {
  margin: 2rem;
}

.events > .event-block > .event-text > p,
.events > .event-block > .event-text > a {
  font-size: small;
}

.events > .event-block > .event-text > p {
  margin: 0.5rem 0;
}

.events > .event-block > .event-text > a {
  color: #3434c6;
}
/* * End of Practice section */

/* * Learning section */

/* Allows the learning section to take up the full width of the page */
.learning {
  grid-column: full-start / full-end;
  background-color: #e7e7e7;
}

/* Change learning h1 "Start learning" */
.learning > h1 {
  text-align: center;
  padding: 2rem 0;
}

/* Change learning grid that contains all learning cards */
.learning-grid {
  grid-column: full-start / full-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4.5rem 2rem;
}

/* Change learning card that contains image and description*/
.learning-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

/* Change learning image */
.learning-image {
  height: auto;
  object-fit: cover;
}

/* Change all text elements inside learning details */
.learning-details > * {
  padding: 0 1rem;
}

.learning-card h1 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: x-large;
}

.learning-card h2 {
  padding-bottom: 0.5rem;
  font-size: large;
  font-weight: lighter;
}

.learning-card p {
  padding-bottom: 1.5rem;
  font-weight: lighter;
}

/* * End of Learning section */

/* * Thesis section */

/* Change header in thesis section */
.thesis-header {
  grid-column: full-start / full-end;
  text-align: center;
  padding: 2rem 0;
}

/* Change thesis left section */
.thesis-left {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 2rem 1.5rem;
}

/* Change thesis video */
.vidcontainer > video {
  width: 100%;
  height: auto;
  padding: 0 1.5rem 1.5rem 0rem;
}

/* Change thesis paragraph */
.thesis-text > p {
  padding-top: 0.5rem;
}

/* Change thesis right section */
.thesis-right {
  display: grid;
  grid-template-rows: repeat(2, min-content);
}

.thesis-right .thesis-block {
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  align-items: center;
}

.thesis-right > .thesis-block:first-child {
  background-color: #e7e7e7;
}

.thesis-block > img {
  width: 100%;
  padding: 1rem;
}

/* * End of Thesis section */

/* * Footer section */
footer {
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: row;
  font-size: smaller;
  border-top: 1px solid #e7e7e7;
  justify-content: space-between;
  padding: 1rem 0 2rem 0;
  color: #8d8d8d;
}

footer > p {
  margin-left: 1.5rem;
}

footer > ul {
  list-style: none;
  display: flex;
}

footer > ul > li {
  margin-right: 1rem;
}

footer > ul > li:last-child {
  margin-right: 1.5rem;
}
/* *End of Footer section */

/** ********************** **/
/** End of Desktop Section **/

/** Start of Mobile Section **/
/** *********************** **/

/* 1024x768 is the standard sizing */

/* * Hide mobile specific CSS in desktop display */
#nav-mobile,
.events > .event-block > .event-img-mobile {
  display: none;
}

/* if the width of screen is 640px and below (aka 40rem x 16px) */
@media screen and (max-width: 40rem) {
  /* * Navigation section */
  nav,
  .practice {
    display: none;
  }

  #nav-mobile {
    display: flex;
    align-items: center;
    height: 4rem;
    grid-column: full-start / full-end;
    justify-content: space-around;
  }
  /* * End of Navigation section */

  /* * Header section */
  header {
    display: grid;
    grid-column: full-start / full-end;
  }

  .imgcontainer {
    padding: 0;
  }

  header > div {
    display: block;
    width: auto;
    height: auto;
    padding: 2rem 1rem;
  }

  header > div > h1 {
    padding: 2rem 0 2rem 0rem;
  }

  header > div > h2 {
    font-weight: normal;
    padding-bottom: 1.5rem;
  }

  header > div > a {
    opacity: 0.5;
  }
  /* * End of Header section */

  /* * Practice section */
  .events {
    display: grid;
    grid-column: full-start / full-end;
    border-left: none;
  }

  .events > .event-block {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem 1rem;
    border: none;
  }

  .events > .event-block:first-child > img {
    margin-top: 0;
  }

  .events > .event-block > .event-text {
    width: 100%;
    height: auto;
    padding-left: 1rem;
  }

  .event-text > * {
    padding: 0.25rem 0;
  }

  .events > .event-block > .event-text > h3 {
    font-size: xx-large;
  }

  .events > .event-block > .event-text > p,
  .events > .event-block > .event-text > a {
    font-size: large;
    font-weight: lighter;
  }

  .events > .event-block > img {
    display: none;
  }

  .events > .event-block > .event-img-mobile {
    display: block;
  }

  .events > .event-block:last-child {
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
  }
  /* * End of Practice section */

  /* * Learning section */

  /* Change learning section to white */
  .learning {
    background-color: #fff;
  }

  /* Change learning card to display downwards in a column */
  .learning-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: 0;
    margin-bottom: 0.5rem;
    background-color: #e7e7e7;
  }

  .learning-grid {
    padding: 0 1rem 0;
  }

  /* Hides all elements of learning card except h1 */
  .learning-card img, .learning-details h2, .learning-details p{
    display: none;
  }

  .learning-details {
   padding: 1rem 0 1.5rem 0; 
  }
  /* * End of Learning section */

  /* * Thesis section */

  /* Hides all thesis section exccept video */
  .thesis-left > .thesis-text, .thesis-right{
    display: none;
  }

  /* Change thesis header */
  .thesis-header {
    padding: 2rem 0 1rem 0;
  }

  /* Allows thesis left to take full width for video */
  .thesis-left {
    grid-column: full-start / full-end;
  }

  /* Removes video padding to allow full width */
  .thesis-left, .vidcontainer > video {
    padding: 0;
  }
  /* * End of Thesis section */

  /* * Footer section */

  /* Change left footer text */
  footer {
    padding: 2.5rem 0 1rem 0;
    color: black;
    border: none;
  }

  /* Hides right footer text */
  footer > ul {
    display: none;
  }
  /* * End of Footer section */
}

/* *********************** */
/** End of Mobile Section **/
